legacy-peer-deps=true
enable-pre-post-scripts=true
auto-install-peers=true
shamefully-hoist=true
node-linker=hoisted
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
